body{
    
    margin:0;
    padding:0;
    box-sizing:border-box;


}


main{
    height:100vh;
    width:100%;
    background-image: linear-gradient(45deg,rgb(255, 89, 0),rgb(255, 204, 0),rgb(0, 128, 75));
    display:flex;
    justify-content:center;
    align-items:center;
    

}

.container{

   width:600px;
   /* height:400px;*/
    padding: 70px 0px ;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
    background: linear-gradient(to right,purple,cyan);
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content:center;
    align-items:center;

}

.container .search{
    width:100%;
    text-align:center;

}


.container .search>input{
    width:40%;
    height:50px;
    font-size: 22px;;
}

.container .search>button{
    padding:7px 12px;
    font-size: 22px;
    height:50px;
    background-color: green;
    color:white;


}

.container .search>input::placeholder{
    color:red;
}

.info{
    width:100%;
    display: none;/* Convert to flex after search */
    flex-direction: column;
    color:white;
    gap:30px;
    justify-content: center;
    text-align: center;
}

.city h1{
font-size: 45px;

}

.wind{
    display: flex;
    justify-content: space-around;

}
#weather-icon {
    height: 100px;
    width: 100px;
    display: none;
    margin:auto;
}

.info .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

